trunk/Tala/Quantum.Tala.Service/Service References/VTCBillingService/VTCBillingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VTCAccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VTCAccountPasswordMD5" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalanceVcoin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VTCAccountName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalanceVcoinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBalanceVcoinResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuyItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VTCAccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ItemPrice" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="UserIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KeyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuyItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuyItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="GetBalanceVcoinSoapIn">
    <wsdl:part name="parameters" element="tns:GetBalanceVcoin" />
  </wsdl:message>
  <wsdl:message name="GetBalanceVcoinSoapOut">
    <wsdl:part name="parameters" element="tns:GetBalanceVcoinResponse" />
  </wsdl:message>
  <wsdl:message name="BuyItemSoapIn">
    <wsdl:part name="parameters" element="tns:BuyItem" />
  </wsdl:message>
  <wsdl:message name="BuyItemSoapOut">
    <wsdl:part name="parameters" element="tns:BuyItemResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpGetIn">
    <wsdl:part name="VTCAccountName" type="s:string" />
    <wsdl:part name="VTCAccountPasswordMD5" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBalanceVcoinHttpGetIn">
    <wsdl:part name="VTCAccountName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBalanceVcoinHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BuyItemHttpGetIn">
    <wsdl:part name="VTCAccountName" type="s:string" />
    <wsdl:part name="ItemCode" type="s:string" />
    <wsdl:part name="ItemPrice" type="s:string" />
    <wsdl:part name="UserIP" type="s:string" />
    <wsdl:part name="KeyCode" type="s:string" />
    <wsdl:part name="TransactionCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuyItemHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpPostIn">
    <wsdl:part name="VTCAccountName" type="s:string" />
    <wsdl:part name="VTCAccountPasswordMD5" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBalanceVcoinHttpPostIn">
    <wsdl:part name="VTCAccountName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBalanceVcoinHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BuyItemHttpPostIn">
    <wsdl:part name="VTCAccountName" type="s:string" />
    <wsdl:part name="ItemCode" type="s:string" />
    <wsdl:part name="ItemPrice" type="s:string" />
    <wsdl:part name="UserIP" type="s:string" />
    <wsdl:part name="KeyCode" type="s:string" />
    <wsdl:part name="TransactionCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuyItemHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="VTCBillingServiceSoap">
    <wsdl:operation name="Authenticate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticate</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalanceVcoin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Balance Vcoin of VTC Account</wsdl:documentation>
      <wsdl:input message="tns:GetBalanceVcoinSoapIn" />
      <wsdl:output message="tns:GetBalanceVcoinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuyItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use vcoin to buy item for account partner </wsdl:documentation>
      <wsdl:input message="tns:BuyItemSoapIn" />
      <wsdl:output message="tns:BuyItemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="VTCBillingServiceHttpGet">
    <wsdl:operation name="Authenticate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticate</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateHttpGetIn" />
      <wsdl:output message="tns:AuthenticateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalanceVcoin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Balance Vcoin of VTC Account</wsdl:documentation>
      <wsdl:input message="tns:GetBalanceVcoinHttpGetIn" />
      <wsdl:output message="tns:GetBalanceVcoinHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BuyItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use vcoin to buy item for account partner </wsdl:documentation>
      <wsdl:input message="tns:BuyItemHttpGetIn" />
      <wsdl:output message="tns:BuyItemHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="VTCBillingServiceHttpPost">
    <wsdl:operation name="Authenticate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticate</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateHttpPostIn" />
      <wsdl:output message="tns:AuthenticateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalanceVcoin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Balance Vcoin of VTC Account</wsdl:documentation>
      <wsdl:input message="tns:GetBalanceVcoinHttpPostIn" />
      <wsdl:output message="tns:GetBalanceVcoinHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BuyItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use vcoin to buy item for account partner </wsdl:documentation>
      <wsdl:input message="tns:BuyItemHttpPostIn" />
      <wsdl:output message="tns:BuyItemHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VTCBillingServiceSoap" type="tns:VTCBillingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalanceVcoin">
      <soap:operation soapAction="http://tempuri.org/GetBalanceVcoin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyItem">
      <soap:operation soapAction="http://tempuri.org/BuyItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VTCBillingServiceSoap12" type="tns:VTCBillingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://tempuri.org/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalanceVcoin">
      <soap12:operation soapAction="http://tempuri.org/GetBalanceVcoin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyItem">
      <soap12:operation soapAction="http://tempuri.org/BuyItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VTCBillingServiceHttpGet" type="tns:VTCBillingServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Authenticate">
      <http:operation location="/Authenticate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalanceVcoin">
      <http:operation location="/GetBalanceVcoin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyItem">
      <http:operation location="/BuyItem" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VTCBillingServiceHttpPost" type="tns:VTCBillingServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Authenticate">
      <http:operation location="/Authenticate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalanceVcoin">
      <http:operation location="/GetBalanceVcoin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyItem">
      <http:operation location="/BuyItem" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VTCBillingService">
    <wsdl:port name="VTCBillingServiceSoap" binding="tns:VTCBillingServiceSoap">
      <soap:address location="http://117.103.192.45/VTCBillingService/VTCBillingService.asmx" />
    </wsdl:port>
    <wsdl:port name="VTCBillingServiceSoap12" binding="tns:VTCBillingServiceSoap12">
      <soap12:address location="http://117.103.192.45/VTCBillingService/VTCBillingService.asmx" />
    </wsdl:port>
    <wsdl:port name="VTCBillingServiceHttpGet" binding="tns:VTCBillingServiceHttpGet">
      <http:address location="http://117.103.192.45/VTCBillingService/VTCBillingService.asmx" />
    </wsdl:port>
    <wsdl:port name="VTCBillingServiceHttpPost" binding="tns:VTCBillingServiceHttpPost">
      <http:address location="http://117.103.192.45/VTCBillingService/VTCBillingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>