Tala/Quantum.Tala.Service/Service References/VTCGateTopup/VTCGateTopup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://paygate.vtc.vn/VTCGateTopup" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://paygate.vtc.vn/VTCGateTopup" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://paygate.vtc.vn/VTCGateTopup">
      <s:element name="CheckStatusTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MakerCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OrgTransId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="DataSign" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckStatusTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckStatusTransactionResult" type="tns:VTCGateTransStateInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VTCGateTransStateInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OrgTransId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataSign" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TopupAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="MakerCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TransDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="OrgTransId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="DataSign" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TopupAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TopupAccountResult" type="tns:VTCGateResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VTCGateResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="MakerCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="OrgTransId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Balance" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="VTCTransCode" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataSign" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckAccountEXISTS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MakerCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataSign" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAccountEXISTSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckAccountEXISTSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MakerCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataSign" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBalanceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccountId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MakerCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataSign" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountInfoResult" type="tns:AccountInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="errorCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="balance" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="accounttopup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="datasign" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckStatusTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:CheckStatusTransaction" />
  </wsdl:message>
  <wsdl:message name="CheckStatusTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:CheckStatusTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="TopupAccountSoapIn">
    <wsdl:part name="parameters" element="tns:TopupAccount" />
  </wsdl:message>
  <wsdl:message name="TopupAccountSoapOut">
    <wsdl:part name="parameters" element="tns:TopupAccountResponse" />
  </wsdl:message>
  <wsdl:message name="CheckAccountEXISTSSoapIn">
    <wsdl:part name="parameters" element="tns:CheckAccountEXISTS" />
  </wsdl:message>
  <wsdl:message name="CheckAccountEXISTSSoapOut">
    <wsdl:part name="parameters" element="tns:CheckAccountEXISTSResponse" />
  </wsdl:message>
  <wsdl:message name="GetBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetBalance" />
  </wsdl:message>
  <wsdl:message name="GetBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountInfo" />
  </wsdl:message>
  <wsdl:message name="GetAccountInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="VTCGateTopupSoap">
    <wsdl:operation name="CheckStatusTransaction">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check status transaction!</wsdl:documentation>
      <wsdl:input message="tns:CheckStatusTransactionSoapIn" />
      <wsdl:output message="tns:CheckStatusTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TopupAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Topup Service!</wsdl:documentation>
      <wsdl:input message="tns:TopupAccountSoapIn" />
      <wsdl:output message="tns:TopupAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckAccountEXISTS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check Account Exists</wsdl:documentation>
      <wsdl:input message="tns:CheckAccountEXISTSSoapIn" />
      <wsdl:output message="tns:CheckAccountEXISTSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check Account Agent Balance!</wsdl:documentation>
      <wsdl:input message="tns:GetBalanceSoapIn" />
      <wsdl:output message="tns:GetBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Account Info by VTCAccountId</wsdl:documentation>
      <wsdl:input message="tns:GetAccountInfoSoapIn" />
      <wsdl:output message="tns:GetAccountInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VTCGateTopupSoap" type="tns:VTCGateTopupSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckStatusTransaction">
      <soap:operation soapAction="http://paygate.vtc.vn/VTCGateTopup/CheckStatusTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TopupAccount">
      <soap:operation soapAction="http://paygate.vtc.vn/VTCGateTopup/TopupAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAccountEXISTS">
      <soap:operation soapAction="http://paygate.vtc.vn/VTCGateTopup/CheckAccountEXISTS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://paygate.vtc.vn/VTCGateTopup/GetBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfo">
      <soap:operation soapAction="http://paygate.vtc.vn/VTCGateTopup/GetAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VTCGateTopupSoap12" type="tns:VTCGateTopupSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckStatusTransaction">
      <soap12:operation soapAction="http://paygate.vtc.vn/VTCGateTopup/CheckStatusTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TopupAccount">
      <soap12:operation soapAction="http://paygate.vtc.vn/VTCGateTopup/TopupAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAccountEXISTS">
      <soap12:operation soapAction="http://paygate.vtc.vn/VTCGateTopup/CheckAccountEXISTS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap12:operation soapAction="http://paygate.vtc.vn/VTCGateTopup/GetBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfo">
      <soap12:operation soapAction="http://paygate.vtc.vn/VTCGateTopup/GetAccountInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VTCGateTopup">
    <wsdl:port name="VTCGateTopupSoap" binding="tns:VTCGateTopupSoap">
      <soap:address location="http://117.103.192.45/WSVTCGateTopup/VTCGateTopup.asmx" />
    </wsdl:port>
    <wsdl:port name="VTCGateTopupSoap12" binding="tns:VTCGateTopupSoap12">
      <soap12:address location="http://117.103.192.45/WSVTCGateTopup/VTCGateTopup.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>